<h1 class="artical-list">Listing all articles</h1>


<div class="row justify-content-md-center">
<div class="col-8">
<% @articals.each do |artical|%>
<div class="container-md">
  <div class="card text-center" id="shedo">
    <div class="card-header bg-info text-white">
      <em>By Gopal Patidar</em>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= link_to artical.title.capitalize , artical_path(artical) , class:"text-success"%></h5>
      <p class="card-text"><%= truncate(artical.discription, length: 100)%></p>
      <p><%= link_to"Show" , artical_path(artical) , class:"btn btn-outline-success"%>
      <%= link_to"Edit" , edit_artical_path(artical) , class:"btn btn-outline-info"%>
      <%= button_to"Delete" , artical_path(artical) , method: :delete ,  data:  {turbo_confirm: "Are you sure?"} , class:"btn btn-outline-danger"%>
      </p>
    </div>
    <div class="card-footer text-muted">
      <small> Created <%= time_ago_in_words(artical.created_at)%> ago </small>
    </div>
  </div>
</div>  
<% end %>  